@using Concesionario_Vehiculos_18_11.Seguridad
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ConCEsionario</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="width: 99%">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="float: left"> @Html.ActionLink("Concesionario", "Index", "Tipo", new { area = "" }, new { @class = "navbar-brand" })</div>

                <div style="margin-top: 14px; float: right; color: black"><button class="badge" style="background-color: purple; font-size: 15px"> @Html.ActionLink("Desconectar", "LogOff", "Login")</button>
                </div>
                <div style="font-size: 14px; margin-top: 15px; margin-right: 30px; float: right; color: goldenrod">
                    
                        @if (User.Identity.IsAuthenticated)
                        {
                           
                                @*<span>User:</span>*@
                                var u = User as PrincipalPersonalizado;
                                @u.MiIdentidadPersonal.Nombre
                                // introducimos nombre
                                @u.MiIdentidadPersonal.Apellidos
                           
                        }

                        
                </div>


            </div>
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  
                </ul>
            </div>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("ElYavaescrip", false)
</body>
</html>